@model SCP_Foundation.Models.SCP

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SCP</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjectClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjectClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThreatLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThreatLevel)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.SCPID">Edit</a>*@ |
    <a asp-action="Index">Back to List</a>
</div>
